/* add styling to the entire webpage*/
* {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}
header h1 {
    margin: 10px 10px;
    background-color: midnightblue;
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
header nav ul li a {
    display: flex;
    color:rgb(36, 40, 63);
    font-size: 25px;
    font-weight:lighter;
    text-decoration: none;
}
header nav ul li a:hover {
    background-color: midnightblue;
    color: white;
}
.primary-title {
       color: rgb(36, 40, 63);
    font-size: 35px;
    padding-top: 15px;
    border-bottom: midnightblue solid;
    border-radius: 10px;
    padding-bottom: 10px; 
}
.about-me-img img {
    max-width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.about-me p {
    color: darkslategray;
    text-align: center;
    font-size: 20px;
}
.my-projects {
    padding-bottom: 10px;
}
.my-projects-img {
    width: 40%;
    display: inline-block;
    padding-right: 40px;
}
.my-projects-img img {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 40px;
}
.my-projects-img img:hover {
    opacity: 0.5;
    transform:scale(1.04);
    padding-left: 35px;
}
.contact-me ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    color: darkslategray;
    font-size: 20px;
}
.contact-me ul li a {
    text-decoration: none;
    color: midnightblue;
    font-size: 20px;
}
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
    }
    header h1 {
        text-align: center;
    }

}
@media screen and (max-width: 768px) {
        .my-projects-img {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
}
@media screen and (max-width: 575px) {
    .about-me {
        text-align: center;
    }
    .my-projects {
        text-align: center;
    }
    .contact-me {
        text-align: center;
    }
    .my-projects-img img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 5px;
    }
}