/* add styling to the entire webpage*/
* {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}

/* add color and new font style to my name*/

header h1 {
    margin: 10px 10px;
    background-color: midnightblue;
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
header nav ul li a {
    display: flex;
    color:rgb(36, 40, 63);
    font-size: 25px;
    font-weight:lighter;
    text-decoration: none;
}
header nav ul li a:hover {
    background-color: midnightblue;
    color: white;
}

.about-me-img img {
    max-width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.about-me h2{
    color: rgb(36, 40, 63);
    font-size: 35px;
    padding-top: 15px;
    border-bottom: midnightblue solid;
    border-radius: 10px;
    padding-bottom: 10px;
}
.about-me p {
    color: darkslategray;
    text-align: center;
    font-size: 20px;
}
.my-projects {
    padding-bottom: 10px;
}
.my-projects h2 {
    color: rgb(36, 40, 63);
    font-size: 35px;
    padding-top: 15px;
    border-bottom: midnightblue solid;
    border-radius: 10px;
}
.my-projects-img {
    width: 40%;
    display: inline-block;
}

.my-projects-img img {
    flex-wrap: wrap;
    width: 100%;
}

.my-projects-img:hover {
    opacity: 0.5;
}

.contact-me h2 {
    color: rgb(36, 40, 63);
    font-size: 35px;
    padding-top: 15px;
    border-bottom: midnightblue solid;
    border-radius: 10px;
}
.contact-me ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    color: darkslategray;
}
.contact-me ul li a {
    text-decoration: none;
    color: midnightblue;
}
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
    }
    header h1 {
        text-align: center;
    }
}
@media screen and (max-width: 575px) {
    .about-me {
        text-align: center;
    }
    .my-projects {
        text-align: center;
    }
    .contact-me {
        text-align: center;
    }
    .my-projects-img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}