/* apply font, background-color, and margins for the overall webpage */
* {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;    
    color: darkslategray;

    font-size: 20px;
}
header h1 {
    margin: 10px 10px;
    background-color: midnightblue;
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
/* Add flexbox to nav section so they wrap */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
header nav ul li a {
    display: flex;
    color:rgb(36, 40, 63);
    font-size: 25px;
    font-weight:lighter;
    text-decoration: none;
}
/* add hover feature to nav section */
header nav ul li a:hover {
    background-color: midnightblue;
    color: white;
}
.primary-title {
    color: rgb(36, 40, 63);
    font-size: 35px;
    padding-top: 15px;
    border-bottom: midnightblue solid;
    border-radius: 10px;
    padding-bottom: 10px; 
}
/* add display: flex so that image resizes as the webpage resizes */
.about-me img {
    max-width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 50px;
}
.about-me p {
    text-align: center;
}
.my-projects-img {
    width: 40%;
    display: inline-block;
    padding-right: 40px;
}
.my-projects-img img {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 60px;
}
/* add opacity and transform feature to enlarge and make images translucent when you hover */
.my-projects-img img:hover {
    opacity: 0.5;
    transform:scale(1.02);
    padding-left: 60px;
}
.contact-me ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    color: darkslategray;
    font-size: 20px;
}
.contact-me ul li a {
    text-decoration: none;
    color: midnightblue;
    font-size: 20px;
    padding-bottom: 30px;
}
/* Add modifications to style when needed at different screen sizes */
@media screen and (max-width: 768px) {
    /* Make the project images change from inline to flex-wrap */
    .my-projects-img {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    .my-projects-img img {
        padding-left: 20px;
    }
}
@media screen and (max-width: 575px) {
    /* change the alignment of the section titles to the center */
    .primary-title {
        text-align: center;
    }
    /* make sure images wrap properly */
    .my-projects-img img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: auto;
    }
}